<app-menu></app-menu>

<div>
    <div>
        <span>Review List</span> |
        <!--<span> | <input [(ngModel)]="searchCriteria" type="text" placeholder="search"></span>-->
    </div>

    <table class ="table table-sm">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>Rejection Reason</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let request of requests">
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.justification}}</td>
        <td>{{request.rejectionReason}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>{{request.user.username}}</td>
        <td>
            <a><button (click)="setapprove(request)" class="btn btn-primary">Approve</button></a>
            <span *ngIf="request.rejectionReason.length > 0"><a><button (click)="setdeny(request)"class="btn btn-danger">Deny</button></a></span>
            <span><input [(ngModel)]="request.rejectionReason" type="text" placeholder="Must include Rejection Reason"> </span>
        </td>
    </tr>
</table>

</div>
<!-- <div>
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let requestline of request.requestLines">
            <td>{{requestline.id}}</td>
            <td>{{requestline.product.name}}</td>
            <td>{{requestline.quantity}}</td>
            <td>{{requestline.product.price}}</td>
            <td>{{requestline.quantity * requestline.product.price}}</td>
        </tr>
        </table>
</div> -->