<div>
    <div id="login">
        <h3>Login</h3>
        <div id="inputs">
        <div>
            <span>Username: </span>
            <span><input [(ngModel)]="user.username" type="text"> </span>
        </div>
        
        <div>
            <span>Password:</span><span> </span>
            <span><input [(ngModel)]="user.password" type="password"> </span>
        </div>
    </div>
    <div>
    <button (click)="login()" class="btn btn-primary">Login</button>
    </div>    
    <div>
            {{message}}
        </div>
    </div>
</div>
